html, body {
    height: 100%;
    width: 100%;
}
.navbar {
    background-color: #393e46;
    padding: 1% 0;
    font-size:  1.5em;
}
.navbar-brand {
    
    padding: 0 15px 0px;
    height: 10vh;
}
.navbar-default .navbar-nav li a {
    color: #d5d5d5; 

}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
  
  color: #fff;
  border-radius: 5px; 
}
#home {
    background: url('img/backgrounds/Pale_Pink_Marble.jpeg') no-repeat center center fixed;
    display: table;
    height: 90%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin-top: 100px;
    
}


.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #222831;
}
.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}
.padding {
    padding: 40px 0;
}
.padding img {
    width: 100%;
}
#fixed {
    background: url(img/backgrounds/Natural_Cracked_Marble%20.jpeg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}
footer {
    width: 100%;
    background-color: #393e46;
    padding: 5% 5% 10% 5%;
    color: #fff;
}
.fa {
    padding: 15px;
    font-size: 25px;
    color: #fff;
}
.fa:hover {
    color: #d5d5d5;
    text-decoration: none;
}
.icon {
     max-width: 200px;
}

@media (max-width: 900px) {
    .landing-text h1 {
        font-size: 300%; 
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    #fixed {
        background: url(img/backgrounds/Natural_Cracked_Marble%20.jpeg) no-repeat center center;
        display: table;
        height: 60%;
        position: relative;
        width: 100%;
        background-size: cover;
    }
    #home {
        background: url('img/backgrounds/Pale_Pink_Marble.jpeg') no-repeat center center;
        display: table;
        height: 90%;
        position: relative;
        width: 100%;
        background-size: cover;
        margin-top: 100px;
    }
}


.btn-lg {
    background-color:#feb72b;
    color: #fff;
    
}
.sect_235 {
    background: #eeeeee;
}
#logo_name {
    height: 100%;
}
.title_stone {
    margin-top: 3vh;
    font-size: 4vh;
}
.stones {
    height: 35vh;
    margin-top: 3vh;
}
.interior_title {
    margin-top: 0;
    font-size: 30px;
}
.interior_text {
    font-size: 17px;
}
#img_tiles {
    margin-top: 6vh;
}

.anchor {
    display: block;
    height: 10vh;
    margin-top: -100px;
    visibility: hidden;
}
